/* Reset de Configuraciones - Config base*/
* {
  margin: 3;
  padding: 1;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  }

  div#Sobre-Mi{
    color:white;
    text-align: center;
    width: 500px;
    margin: 0 auto;
  }

body {
  font-family: 'Prata', serif;
  background-image: url("assets/img/montanas-al-atardecer-en-el-bosque-3931.jpg");
  background-size: cover;
  color: #1d1d1d;
  line-height: 1.6;
  text-align: center;
  margin: px;
}

ul li {
  text-align: left;
  color:white;
  
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

form {
  background-color: white;
  border: 5px solid #1d1d1d;
  border-radius: 10px;
}

header{
  background-color: #43d75c98;
  position: sticky;
  width: 100%;
  top: 0;
  text-align: start;
   z-index: 1;
   h1{
    font-size: 30px;
   }
}
header .container{
   display: flex; 
   justify-content: space-between;
  align-items: center;
  
}
header h1 {
  color: #ffffff;
    }

div.Proyecto{
  color: white;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  
}

div.Referencia{
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

nav,a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  position: relative;
  gap: 2rem;
  transition: color 0.7s;
}

nav a:hover { /*Pseudoclases*/
  color: blue;
}

nav a::after{
  content: "";
  color: blue;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.7s;
}

nav a:hover::after {
  width: 100%;
}