/* Reset de Configuraciones - Config base*/
* {
  margin: 3;
  padding: 1;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
}

body {
  font-family: 'Prata', serif;
  background-image: url("assets/img/montanas-al-atardecer-en-el-bosque-3931.jpg");
  background-size: cover;
  color: #1d1d1d;
  line-height: 1.6;
  text-align: center;
  margin: px;
}

ul li {
  text-align: right;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

form {
  background-color: white;
  border: 5px solid #1d1d1d;
  border-radius: 10px;
}

header{
  background-color: #43d75c98;
  position: sticky;
  width: 100%;
  top: 0;
  text-align: start;
   z-index: 1;
   h1{
    font-size: 30px;
   }
}
header .container{
   display: flex; 
   justify-content: space-between;
  align-items: center;
  
}
header h1 {
  color: #ffffff;
}